<nav class="blue-grey">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="hide-on-med-and-down">
      <li ng-class="{active: $location.path() === '/links'}"><a href="#/links">All Links</a></li>
      <li ng-class="{active: $location.path() === '/shorten'}"><a href="#/shorten">Shorten</a></li>
      <li><a href="" ng-click="logout()">Logout</a></li>
    </ul>

    <div class="input-field" style="width: 80%;">
      <input id="search" type="search" ng-model="searchText">
      <label for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
  </div>
</nav>

<div id='container'>
  <div ng-repeat="link in data.links | orderBy:'-visits' | filter:searchText" class="link">
    <i class="material-icons grey-text text-lighten-2" style="font-size: 42px;">input</i>
    <div class='info'>
      <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
      <div class='title'>{{link.title}}</div>
      <div class='original'>{{link.url}}</div>
      <a href='{{link.base_url}}/api/links/{{link.code}}'>{{link.base_url}}/api/links/{{link.code}}</a>
    </div>
  </div>
</div>
