<div id='signin'>
  <form name="signinForm" ng-submit='signin()'>
    <div class="input-field">
      <input id="username" type='text' name="username" ng-class="{invalid: isDirty('username') && !user.username}" class="validate" required ng-model='user.username'>
      <label for="username" data-error="Please provide your username">Username</label>
    </div>

    <div class="input-field" style="display: block;">
      <input id="password" class="validate" type="password" name="password" ng-class="{invalid: isDirty('password') && !user.password}" required ng-model='user.password'>
      <label for="password" data-error="Please provide your password">Password</label>
    </div>

    <button class="btn blue-grey">signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
